In [19]:
import pandas as pd

df = pd.read_excel('연령별인구현황01.xlsx',skiprows=3)
# df.iloc[0]
# df[0:1]

df_w = pd.read_excel('연령별인구현황02.xlsx',skiprows=3, index_col='행정기관')
# df.columns
# df_w.columns
# df['0~9세']

df_w

c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,행정기관코드,총 인구수,연령구간인구수,0~4세,5~9세,10~14세,15~19세,20~24세,25~29세,30~34세,...,55~59세.2,60~64세.2,65~69세.2,70~74세.2,75~79세.2,80~84세.2,85~89세.2,90~94세.2,95~99세.2,100세 이상.2
행정기관,,,,,,,,,,,,,,,,,,,,,
전국,0,"51,238,450","51,238,450","1,276,904","1,888,125","2,327,761","2,297,634","2,676,856","3,321,756","3,471,857",...,"2,131,910","2,112,219","1,837,725","1,255,742","977,890","815,495","510,094","200,336","47,761","7,095"
서울특별시,1100000000,"9,343,304","9,343,304","203,598","283,860","352,844","370,602","536,847","781,551","794,805",...,"363,560","362,057","335,338","234,175","185,999","135,085","75,018","28,196","7,244","1,169"
부산광역시,2600000000,"3,271,062","3,271,062","71,543","111,841","135,347","127,589","164,971","196,720","204,993",...,"139,056","151,641","145,872","104,543","78,357","59,307","32,389","11,470","2,841",373
대구광역시,2700000000,"2,364,892","2,364,892","55,132","88,120","107,000","105,540","126,720","143,581","148,489",...,"107,151","105,659","89,500","64,878","48,280","40,328","23,451","8,522","1,832",226
인천광역시,2800000000,"3,017,928","3,017,928","81,275","114,845","138,134","134,246","154,649","199,145","221,527",...,"129,836","127,682","103,579","63,310","48,894","38,129","24,092","9,909","2,578",400
광주광역시,2900000000,"1,410,548","1,410,548","36,479","57,300","72,433","73,340","86,004","97,551","92,570",...,"58,866","53,842","44,881","31,118","25,940","19,548","11,393","4,679","1,052",162
대전광역시,3000000000,"1,440,094","1,440,094","38,397","53,858","66,852","69,038","88,846","106,059","102,313",...,"59,610","57,145","48,669","32,489","23,964","19,324","11,971","4,657","1,104",177
울산광역시,3100000000,"1,098,540","1,098,540","28,345","45,588","56,265","52,948","52,021","65,849","70,071",...,"51,605","47,678","38,595","23,953","15,371","11,784","6,694","2,552",599,75
세종특별자치시,3600000000,"389,978","389,978","16,363","25,280","28,492","23,720","17,618","19,513","27,674",...,"11,759","10,555","8,734","5,386","3,764","3,177","2,179","1,022",259,38
경기도,4100000000,"13,686,731","13,686,731","388,521","557,816","670,402","650,277","725,442","911,693","984,725",...,"565,977","525,445","424,975","269,494","209,528","167,654","104,894","41,324","10,384","1,522"
강원특별자치도,5100000000,"1,519,545","1,519,545","36,522","49,953","62,471","64,487","75,519","81,796","82,278",...,"64,976","72,422","66,487","43,831","35,108","33,381","21,260","8,217","2,232",319
충청북도,4300000000,"1,590,704","1,590,704","40,073","58,268","72,095","71,148","79,364","95,670","98,881",...,"68,976","68,202","61,115","40,556","30,372","29,282","19,774","7,739","1,708",231
충청남도,4400000000,"2,136,010","2,136,010","54,336","82,180","102,254","99,645","104,116","117,116","125,846",...,"82,997","86,898","76,166","54,946","43,070","41,059","30,414","12,488","2,797",413
전북특별자치도,5200000000,"1,740,753","1,740,753","37,039","59,045","79,594","82,051","89,113","93,428","89,265",...,"72,877","75,555","68,092","51,805","44,040","40,391","27,643","11,561","2,640",404
전라남도,4600000000,"1,790,421","1,790,421","41,625","60,540","78,621","77,740","81,471","88,969","86,480",...,"73,416","79,068","71,576","54,556","49,307","49,118","33,550","13,533","2,847",482
경상북도,4700000000,"2,535,971","2,535,971","55,628","86,339","108,183","107,593","114,140","124,247","129,120",...,"110,190","118,448","106,967","80,472","59,209","59,464","40,352","15,695","3,542",498
경상남도,4800000000,"3,231,132","3,231,132","73,552","123,579","160,284","153,975","146,647","161,650","172,892",...,"143,572","143,695","125,212","85,835","64,440","58,180","37,809","15,254","3,301",376
제주특별자치도,5000000000,"670,837","670,837","18,476","29,713","36,490","33,695","33,368","37,218","39,928",...,"27,486","26,227","21,967","14,395","12,247","10,284","7,211","3,518",801,230