In [5]:
import pandas as pd

df = pd.read_csv("score.csv")
df.set_index('지원번호',inplace=True)

# df

df[df['이름'].str.startswith('강')]
filt = df['이름'].str.startswith('강')
df[filt]
df[~filt]

filt = df['이름'].str.contains('강')
df[filt]
df[~filt]

       이름   학교   국어  영어  수학   합계     평균  등수
지원번호
4번    김수찬  가산고   85  74  78  237  79.00   0
5번    김재욱  가산고   91  95  71  257  85.67   0
6번    박동현  구로고  100  88  90  278  92.67   0
7번    박혜정  구로고   95  85  75  255  85.00   0
8번    승근열  구로고   88  78  87  253  84.33   0