In [12]:
import pandas as pd

df = pd.read_csv("score.csv")

# df.iloc[[0,1]]
# df.iloc[2:5]
# df.iloc[0,1]
df.iloc[0:6,1:5]

    이름   학교   국어  영어
0  강나래  구로고   90  80
1  강태원  구로고   80  84
2  강호림  가산고   84  72
3  김수찬  가산고   85  74
4  김재욱  가산고   91  95
5  박동현  구로고  100  88