In [71]:
import pandas as pd
import numpy as np
import random
df = pd.read_csv('score.csv', index_col='지원번호')
df


# df.loc[['1번','2번'],['이름','수학','영어']]

#이러면 다 똑같은 숫자가 찍힘
# df['요일'] = random.randint(0,6)
def func(value):
  if value == 0 : return "일요일"
  elif value == 1 : return "월요일"
  elif value == 2 : return "화요일"
  elif value == 3 : return "수요일"
  elif value == 4 : return "목요일"
  elif value == 5 : return "금요일"
  elif value == 6 : return "토요일"


df['요일'] = 0

for i in range(8):
  df.iloc[i,9] = random.randint(0,6)

df['요일'] = df['요일'].apply(func)
df

# df.loc[index,clolumns]

       이름   학교   국어  영어  수학   합계     평균  등수      특기   요일
지원번호
1번    강나래  구로고   90  80  88  258  86.00   0    JAVA  월요일
2번    강태원  구로고   80  84  90  254  84.67   0  Python  일요일
3번    강호림  가산고   84  72  94  250  83.33   0       C  월요일
4번    김수찬  가산고   85  74  78  237  79.00   0     C++  화요일
5번    김재욱  가산고   91  95  71  257  85.67   0     C++  목요일
6번    박동현  구로고  100  88  90  278  92.67   0     NaN  월요일
7번    박혜정  구로고   95  85  75  255  85.00   0     NaN  수요일
8번    승근열  구로고   88  78  87  253  84.33   0  Python  수요일

In [ ]:

# flit = df['키']
# lang = ['python', 'java']

# filt = df['특기'].isin(lang)
# filt = df['특기'].str.lower().isin(lang)

# filt = df['특기'].str.contains('JAVA',na=False)

# df[filt]


# df.sort_values('이름')
# df.sort_values('영어')
# df.sort_values('영어',ascending=False)


# df['학교'].replace({'구로고':'가산고'},inplace=True)

# df['특기'].str.lower()

# df['특기'] = df['특기'].str.lower()



# c_list = list(df.columns)


# df.drop(columns=['영어','평균'],inplace=True)
# df

# df.loc['9번'] = ['홍길동','디지털고',100,100,100,300,100,0,'c']
# df


# df.fillna('python')

# def func(value):
#   if pd.notnull(value):
#     return value.lower()
#   else:
#     return "python"
  

# def func2(value):
#   if pd.notnull(value):
#     return value.str[1:3]
#   else:
#     return "null"

# df['이름'] = df['이름'].apply(func2)
# df['이름'] = df['이름'].str[1:3]
# df

AttributeError: 'str' object has no attribute 'str'